<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
    <meta charset="UTF-8">
    <title>Notifier</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/dev/css/main.css">
</head>
<body>
    <div ng-app="g8.Notifier" class="main-content">
        <div ng-controller="NotificationTestController as notificationTest">
            <div class="ui attached message">
                <div class="header">
                    Welcome to angular-notifier!
                </div>
                <p>Using this form you can build and test notifications.</p>
            </div>
            <form name="notificationTestForm" class="ui form attached fluid segment" ng-submit="notificationTest.addNotificationToQueue({ notification: notificationTest.state.notification })">
                <div class="two fields">
                    <div class="field">
                        <label>Header</label>
                        <input placeholder="Notification header" type="text" ng-model="notificationTest.state.notification.header" required>
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <input placeholder="Notification content" type="text" ng-model="notificationTest.state.notification.content" required>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Notification Type</label>
                        <select class="ui selection dropdown"
                                ng-options="value as value for (name, value) in notificationTest.state.types track by value"
                                ng-model="notificationTest.state.notification.type"></select>
                    </div>
                    <div class="field">
                        <label>Notification Category</label>
                        <select class="ui selection dropdown"
                                ng-options="value as value for (name, value) in notificationTest.state.categories track by value"
                                ng-model="notificationTest.state.notification.category"></select>
                    </div>
                </div>
                <div class="field">
                    <label>Notification From</label>
                    <input placeholder="Notification from" type="text" ng-model="notificationTest.state.notification.from" required>
                </div>
                <input type="submit" class="ui blue submit button" value="Try it now" ng-disabled="notificationTestForm.$invalid">
            </form>
            <div class="ui bottom attached warning message">
                <i class="icon help"></i>
                Have some questions? Just <a href="mailto:me.antony.rain@gmail.com">email</a> me.
            </div>
            <div notifier="" notifier-queue="notificationQueue"></div>
        </div>
    </div>
    <script src="./assets/dist/js/notifier.bundle.js"></script>
</body>
</html>